STARK_PROJECT_ID="5643219876543210"
STARK_PRIVATE_KEY_PATH="./keys/privateKey-sandbox.pem"
STARK_PRIVATE_KEY="-----BEGIN ECDSA PRIVATE KEY-----\nMHcCAQEEIBx... \n-----END ECDSA PRIVATE KEY-----"  # alternative to using a private key file, you can directly paste the private key here
STARK_ENVIRONMENT="sandbox"

TARGET_BANK_CODE="20018183"
TARGET_BRANCH="0001"
TARGET_ACCOUNT="6341320293482496"
TARGET_NAME="Stark Bank S.A."
TARGET_TAX_ID="20018183000180"
TARGET_ACCOUNT_TYPE="payment"

DATABASE_URL="sqlite+aiosqlite:///./webhook_payment.db"

LOG_LEVEL="INFO"
LOG_FORMAT="auto"

SCHEDULER_MODE="once"
SCHEDULER_MAX_CYCLES=8
SCHEDULER_INTERVAL_MINUTES=180
SCHEDULER_JOBSTORE_URL="sqlite:///./webhook_payment.db"
