# Configurações do SDK StarkBank
STARK_PROJECT_ID="5643219876543210"
STARK_PRIVATE_KEY="-----BEGIN ECDSA PRIVATE KEY-----\nMHcCAQEEIBx... \n-----END ECDSA PRIVATE KEY-----"
STARK_ENVIRONMENT="sandbox"

# Conta de Destino para Transferências
TARGET_BANK_CODE="20018183"
TARGET_BRANCH="0001"
TARGET_ACCOUNT="6341320293482496"
TARGET_NAME="Stark Bank S.A."
TARGET_TAX_ID="20018183000180"
TARGET_ACCOUNT_TYPE="payment"

# Banco de Dados
DATABASE_URL="sqlite+aiosqlite:///./webhook_payment.db"
